.btn-convert{
    background-color: #00A79D;
    display: inline-block;
    width: auto;
    padding: 14px 30px;
    border-radius: 5px;
    text-align: center;
    color: #fff;
    border: none;
}
.fa{
    color: #00A79D;
}
img{
    border-radius: 0.9rem;
}
.smallCards{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.09);
    padding: 40px 40px;
}
p{
    color:#666666
}