<div class="container">
    <div class="row d-flex align-items-center vh-100">
        <div class="col-md-6">
          <div class="content p-5">
            <h2 class="mb-3">
                Welcome To Currency Converter  
            </h2>
            <p class="mb-3">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae molestias odio expedita eaque quidem dicta ducimus fugit deserunt enim. Assumenda repellat laboriosam minima ut cum ratione animi eum corrupti distinctio!
            </p>

            <button class="btn btn-convert mt-2">
                Convert
            </button>
          </div>


        </div>


        <div class="col-md-6  d-flex align-items-center justify-content-center">
            <div class="img ">
                <img src="../../../assets/images/currency.jpg" alt="">
            </div>
        </div>
    </div>

<div class="row ">
    <div class="col-md-4 m-auto text-center">
        <div class="text">
            <h4>
                Set Up & Convert Currencires From  To Your Favourites In A Minute
            </h4>
        </div>
    </div>
</div>
    <div class="row mt-2">
        <div class="col-md-4">
            <div class="smallCards">
                <h5>
                    <i class="fa fa-dollar" aria-hidden="true"></i>
                    Currency Exchange
                </h5>
                <p class="mb-2">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                    Ab vero dolor sed similique provident perspiciatis in ducimus 
                    expedita dolorem. 
                </p>

                <button class="btn btn-convert">
                    try 
                </button>
            </div>
        </div>
        <div class="col-md-4">
            <div class="smallCards">
                <h5>
                    <i class="fa fa-dollar" aria-hidden="true"></i>
                    Currency Exchange
                </h5>
                <p class="mb-2">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                    Ab vero dolor sed similique provident perspiciatis in ducimus 
                    expedita dolorem. 
                </p>

                <button class="btn btn-convert">
                    try 
                </button>
            </div>
        </div>
        <div class="col-md-4">
            <div class="smallCards">
                <h5>
                    <i class="fa fa-dollar" aria-hidden="true"></i>
                    Currency Exchange
                </h5>
                <p class="mb-2">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                    Ab vero dolor sed similique provident perspiciatis in ducimus 
                    expedita dolorem. 
                </p>

                <button class="btn btn-convert">
                    try 
                </button>
            </div>
        </div>
    </div>
</div>

