@import '../../assets/styles/shared.scss';
@import '../../assets/styles/table.scss';
@import '../../assets/styles/form.scss';



.convert-icon {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 1px solid rgba(0, 0, 0, 0.19);
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
}
.convert-icon  span{
    font-size: 20px;
    line-height: 44px;
    color: #00A79D;
    position: relative;
    top: 1px;
}


@media only screen and (min-width: 992px) {
 .convert-icon {
        position: relative;
        top: 33px;
    }
}