
<div class="container mt-5">

    <div class="row">
        <div class="col-md-12">
          <div class="back mb-3" routerLink="/home">
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
            Back 
          </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 m-auto">
            <div class="title text-center">
             <h5>
                CURRENCY Details
             </h5>
                 <p class="mt-1">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                     Eos minus nihil aperiam inventore animi optio iste nesciunt 
                     
                 </p>
               
            </div>
        </div>
        
    </div>

    <div class="row mt-4">


        <div class="col-md-12">
           <div class="row mb-5">
            <div class="col-md-12">
                <p>
                     Rates From   <span>
                       {{ fromCurrency}}
                    </span> To <span> {{toCurrency}}</span> Recently
                </p> 
                  <!--specific latest rates-->
                  <ng-container  >
                    <div class="recent-rates">
                        <table>
                            <tr>
                                <th>Currency</th>
                                <th>Amount</th>
                               
                            </tr>
                            <tr  *ngFor="let item of recentRatesList | keyvalue">
                                <td>{{item.key}}</td>
                                <td>{{item.value}}</td>
                            </tr>
                          
                        </table>
                        </div>
                 </ng-container>
               
            </div>
           </div>
               


        </div>
    </div>
    <div class="row mt-4">


        <div class="col-md-12">
           <div class="row mb-5">
            <div class="col-md-6">
                <p >
                    Historical Rates From   <span>
                       {{ fromCurrency}}
                    </span> To <span> {{toCurrency}}</span> during the last year 
                </p> 
            </div>
            <div class="col-md-6 text-end"  >
                <div class="buttons">
                    <button class="btn  secondaryBtn" 
                     routerLink="/converter/historical-rates" 
                      [queryParams]="{from: fromCurrency , to:toCurrency }" > see All History</button>
                </div>
            </div>
           </div>
                 <!--specific historical rates-->
<div class="hostorical-rates">
    <ng-container  >
        <table>
            <tr>
                <th>Currency</th>
                <th>Amount</th>
               
            </tr>
            <tr  *ngFor="let item of ratesList | keyvalue">
                <td>{{item.key}}</td>
                <td>{{item.value}}</td>
            </tr>
          
        </table>
    </ng-container>
   

</div>

        </div>
    </div>



    <div class="row mt-5 mb-5">
        <div class="col-md-6">
            <p>
                See all currecies Names  
            </p> 
        </div>
        <div class="col-md-6 text-end">
            <div class="buttons">
                <button class="btn  secondaryBtn"  routerLink="/converter/currencies-names" 
                 [queryParams]="{from: fromCurrency , to:toCurrency }"> see All Names</button>
            </div>
        </div>
       </div>




       <div class="row mt-5 mb-5">
        <div class="col-md-12">
            <p>
                See Conversion from {{fromCurrency}} To Some Popular currecies.  
            </p> 
            <ng-container  
            > <table>
                <tr >
                    <th>Currency</th>
                    <th>Exchange Rate</th>
                    <th>1 {{fromCurrency}} = (Currency)</th>
                   
                </tr>
                <tr  *ngFor="let item of popularRatesList | keyvalue">
                    <td>{{item.key}}</td>
                    <td>{{item.value}}</td>
                    <td>1 {{fromCurrency}} =  {{item.value}} {{item.key}}</td>
                </tr>
              
            </table></ng-container>
           

          
        </div>
       </div>
  </div>
  




